html {
    min-height: 100%;
    position: relative;
}

/* Search box */
.search-box {
    border: 0;
    height: 115px;
    padding: 12px;
    margin-bottom: 16px;
    background: #00AFFF;
    box-shadow: 0px 0px 2px #505050;
    -webkit-box-shadow: 0px 0px 2px #505050;
    background: linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    background: -moz-linear-gradient(45deg,  #00AFFF 0%, #147BE4 100%);
    background: -webkit-linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AFFF', endColorstr='#147BE4',GradientType=1 );
}

.navbar-header {
    margin-bottom: 13px;
}

.menu-button {
    top: 9px;
    right: 12px;
    padding-top: 6px;
    position: absolute;
    padding-right: 4px;
}

.form-control.search-bar {
    height: 42px;
    border: none;
    font-size: 17px;
    font-weight: 200;
    border-radius: 10px;
    -webkit-appearance: none;
    box-shadow: 0px 1px 5px #166CBB;
}

.form-control.search-bar:focus {
    box-shadow: 0px 1px 5px #31C1FF;
    -webkit-box-shadow: 0px 1px 5px #31C1FF;
}

/* Content */
.blocklist {
    min-height: 500px;
}

.load {
    padding-top: 85px;
    text-align: center;
}

div.circle {
    float:left;
    width: 61px;
    height: 61px;
    font-size: 35px;
    font-weight: 500;
    padding-top: 5px;
    text-align: center;
    border-radius: 50%;
}

.sharp {
    top: -59px;
    left: 40px;
    width: 22px;
    height: 22px;
    color: #909090;
    font-size: 16px;
    border-radius: 50%;
    position: relative;
    background-color: #373F51;
}

.title {
    color: #404040;
    font-size: 20px;
    padding-top: 3px;
    font-weight: 200;
    margin: 0px 72px;
    padding-bottom: 0px;
}

.artist {
    padding: 0;
    color: #888888;
    font-size: 17px;
    font-weight: 200;
    margin: 0px 72px;
}

div.oct_1 {
    color: #525E6A;
    background: #B7B7B7;
    background: -moz-linear-gradient(45deg,  #B7B7B7 0%, #EAEAEA 100%);
    background: -webkit-linear-gradient(45deg,  #B7B7B7 0%,#EAEAEA 100%);
    background: linear-gradient(45deg,  #B7B7B7 0%,#EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#EAEAEA',GradientType=1 );
}

div.oct_2 {
    color: #CFF2FF;
    background: #00B9FF;
    background: linear-gradient(45deg,  #00B9FF 0%,#59D2FF 100%);
    background: -moz-linear-gradient(45deg,  #00B9FF 0%, #59D2FF 100%);
    background: -webkit-linear-gradient(45deg,  #00B9FF 0%,#59D2FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00B9FF', endColorstr='#59D2FF',GradientType=1 );
}

div.oct_3 {
    color: #CEE5FF;
    background: #1484E4;
    background: -moz-linear-gradient(45deg,  #1484E4 0%, #269DFF 100%);
    background: -webkit-linear-gradient(45deg,  #1484E4 0%,#269DFF 100%);
    background: linear-gradient(45deg,  #1484E4 0%,#269DFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1484E4', endColorstr='#269DFF',GradientType=1 );
}

div.oct_4 {
    color: #C5C8CA;
    background: #343F49;
    background: -moz-linear-gradient(45deg,  #343F49 0%, #5F6468 100%);
    background: -webkit-linear-gradient(45deg,  #343F49 0%,#5F6468 100%);
    background: linear-gradient(45deg,  #343F49 0%,#5F6468 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343F49', endColorstr='#5F6468',GradientType=1 );
}

.no_result {
    text-align: center;
    padding-top: 80px;
}

/* Side Menu */
.side-menu {
    top: 0;
    right: 0;
    width: 0;
    z-index: 1;
    height: 100%;
    position: fixed;
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;
    background: #00AFFF;
    box-shadow: 0px 0px 7px #303030;
    -webkit-box-shadow: 0px 0px 7px #303030;
    background: linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    background: -moz-linear-gradient(45deg,  #00AFFF 0%, #147BE4 100%);
    background: -webkit-linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AFFF', endColorstr='#147BE4',GradientType=1 );
}

a.side-menu {
    color: #818181;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    padding: 8px 8px 8px 32px;
}

.closebutton {
    top: 18px;
    right: 18px;
    font-size: 36px;
    margin-left: 50px;
    position: absolute;
}

.menu-items {
    font-size: 27px;
    transition: 0.3s;
    padding: 3px 0px;
    font-weight: 200;
    margin-left: 20px;
    text-shadow: 0px 0px 4px #202020;
}

.menu-item {
    color: white;
    display: block;
}

.menu-footer {
    bottom: 0;
    width: inherit;
    text-align: center;
    position: absolute;
    margin-bottom: 10px;
}

.social-buttons {
    transition: 0.3s;
}

.paypal {
    padding-left: 39px;
}

.copyright {
    color: #404040;
    font-size: 11px;
    transition: 0.3s;
    font-weight: 200;
}

/* more */
.more-button {
    width: 100%;
    display: block;
    padding: 13px 0px;
    text-align: center;
    background: #F7F7F7;
/*
    border-style: solid;
    border-color: #1484E4;
    border-width: 4px 0px 4px 0px;
*/
}

.more-button:active {
    background: #B7E4FF;
}

/* Footer */
.footer {
    height: 80px;
    display: block;
    padding: 13px 13px;
    background: #FFFFFF;
    border-style: solid;
    border-color: #1484E4;
    border-width: 4px 0px 4px 0px;
}

.footer-title {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 2px 0 0 0;
}

.footer-content {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 16.5px;
}

.inje-logo {
    right: 13;
    bottom: 17.5;
    position: absolute;
}