html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #F9F9F9 !important;
}

/* Navbar */
.navbar-header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 47px;
    padding: 12px;
    display: block;
    position: fixed;
    text-align: center;
    background: #FCFCFC;
    border-bottom: 3px solid #E5E5E5;
}

.menu-button {
    top: 15px;
    left: 15px;
    position: absolute;
}

.search-button {
    top: 13px;
    right: 13px;
    position: absolute;
}

.nav-footer {
    top: 44;
    left: 0;
    right: 0;
    z-index: 2;
    height: 47px;
    position: fixed;
    padding: 4px 7px;
    text-align: center;
    background: #FCFCFC;
    border-bottom: 3px solid #E5E5E5;
}

.form-control.search-bar {
    z-index: 1;
    border: none;
    height: 33px;
    padding: 9px;
    color: #505050;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #F2F2F2;
    box-shadow: 0 0 0 inset;
    -webkit-appearance: none;
}

.form-control.search-bar::placeholder {
    color: #BABABA;
}

.form-control.search-bar:focus {
    padding: 8px;
    box-shadow: 0 0 0;
    box-shadow: 0 0 0 inset;
    -webkit-appearance: none;
    border: 1px solid #03A5FB;
}

/* Ad */
.advert {
    height: 70px;
    padding: 20px;
    color: #E2E2E2;
    font-size: 20px;
    margin-top: 47px;
    text-align: center;
}

/* Content */
.list-icon {
    padding: 2px;
}

.container-basic {
    min-height: 500px;
    background: #FFFFFF;
    margin-bottom: 120px;
    border-top: 2px solid #F3F3F3;
    border-bottom: 2px solid #F3F3F3;
}

.list-title {
    height: 41px;
    color: #404040;
    font-size: 17px;
    font-weight: 500;
    padding: 0px 10px;
    line-height: 41px;
    border-bottom: 1px solid #F3F3F3;
}

.title-icon {
    height: 16px;
    margin-top: 12px;
    vertical-align: top;
}

.blocklist {
    padding: 15px 15px 0px 15px;
}

.load {
    padding-top: 85px;
    text-align: center;
}

div.circle {
    float:left;
    width: 61px;
    height: 61px;
    font-size: 35px;
    font-weight: 500;
    padding-top: 5px;
    text-align: center;
    border-radius: 50%;
}

.sharp {
    top: -59px;
    left: 40px;
    width: 22px;
    height: 22px;
    color: #909090;
    font-size: 16px;
    border-radius: 50%;
    position: relative;
    background-color: #373F51;
}

.title {
    color: #404040;
    font-size: 20px;
    padding-top: 3px;
    font-weight: 200;
    margin: 0px 72px;
    padding-bottom: 0px;
}

.artist {
    padding: 0;
    color: #888888;
    font-size: 17px;
    font-weight: 200;
    margin: 0px 72px;
}

div.oct_1 {
    color: #525E6A;
    background: #B7B7B7;
    background: -moz-linear-gradient(45deg,  #B7B7B7 0%, #EAEAEA 100%);
    background: -webkit-linear-gradient(45deg,  #B7B7B7 0%,#EAEAEA 100%);
    background: linear-gradient(45deg,  #B7B7B7 0%,#EAEAEA 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B7B7B7', endColorstr='#EAEAEA',GradientType=1 );
}

div.oct_2 {
    color: #CFF2FF;
    background: #00B9FF;
    background: linear-gradient(45deg,  #00B9FF 0%,#59D2FF 100%);
    background: -moz-linear-gradient(45deg,  #00B9FF 0%, #59D2FF 100%);
    background: -webkit-linear-gradient(45deg,  #00B9FF 0%,#59D2FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00B9FF', endColorstr='#59D2FF',GradientType=1 );
}

div.oct_3 {
    color: #CEE5FF;
    background: #1484E4;
    background: -moz-linear-gradient(45deg,  #1484E4 0%, #269DFF 100%);
    background: -webkit-linear-gradient(45deg,  #1484E4 0%,#269DFF 100%);
    background: linear-gradient(45deg,  #1484E4 0%,#269DFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1484E4', endColorstr='#269DFF',GradientType=1 );
}

div.oct_4 {
    color: #C5C8CA;
    background: #343F49;
    background: -moz-linear-gradient(45deg,  #343F49 0%, #5F6468 100%);
    background: -webkit-linear-gradient(45deg,  #343F49 0%,#5F6468 100%);
    background: linear-gradient(45deg,  #343F49 0%,#5F6468 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343F49', endColorstr='#5F6468',GradientType=1 );
}

.no_result {
    padding-top: 80px;
    text-align: center;
}

/* Side Menu */
.side-menu {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    display: block;
    position: fixed;
    padding-top: 60px;
    overflow-x: hidden;
    background: #F9F9F9;
}

.menu-header {
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: block;
    position: fixed;
    background: #00AFFF;
    background: linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    background: -moz-linear-gradient(45deg,  #00AFFF 0%, #147BE4 100%);
    background: -webkit-linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AFFF', endColorstr='#147BE4',GradientType=1 );
}

.user-image {
    top: 13px;
    left: 13px;
    position: fixed;
}

.user-name {
    color: #F9F9F9;
    font-size: 19px;
    font-weight: 200;
    line-height: 75px;
    margin-left: 75px;
}

.exit-button {
    top: 15px;
    right: 15px;
    position: fixed;
}

.menu-items {
    left: 0;
    right: 0;
    top: 90px;
    display: block;
    position: fixed;
}

.menu-item {
    height: 41px;
    color: #303030;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #F3F3F3;
}

.menu-item:hover {
    color: #147BE4;
}

.indicators {
    width: 79;
    margin-top: 6px;
}

/* more */
.more-button {
    width: 100%;
    height: 26px;
    bottom: 80px;
    display: block;
    padding: 9px 0px;
    position: absolute;
    text-align: center;
    background: #00AFFF;
    background: linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    background: -moz-linear-gradient(45deg,  #00AFFF 0%, #147BE4 100%);
    background: -webkit-linear-gradient(45deg,  #00AFFF 0%,#147BE4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00AFFF', endColorstr='#147BE4',GradientType=1 );
}

.more-button:active {
    background: #066ACE;
}

/* Footer */
.footer {
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    display: block;
    color: #B7B6B6;
    padding: 15px 0px;
    position: absolute;
    text-align: center;
    background: #2A2A2A;
}

.social {
    padding: 0px 4px;
}

.footer-content {
    margin: 0;
    font-size: 10px;
    font-weight: 200;
    padding-top: 10px;
}