/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/

div.virtical-center {
    top: 50%;
    margin-left: 11.5px;
    position: absolute;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

input.form-control {
    font-size: 16px;
/*    font-family: 나눔고딕, 'Nanum Gothic', NanumGothic,  serif;*/
}

div.circle {
    float:left;
    width: 55px;
    height: 55px;
    padding: 7px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border-radius: 50%;
/*    font-family: 나눔고딕, 'Nanum Gothic', NanumGothic,  serif;*/
}

.sharp {
    top: -53px;
    left: 30px;
    width: 20px;
    height: 20px;
    color: #909090;
    font-size: 15px;
    border-radius: 50%;
    position: relative;
    background-color: #404040;
}

div.oct_1 {
    color: #525E6A;
    background-color: #C7D0D6;
}

div.oct_2 {
    color: #3D5D75;
    background-color: #7ECEFD;
}

div.oct_3 {
    color: #BFDBED;
    background-color: #2185C5;
}

div.oct_4 {
    color: #C5C8CA;
    background-color: #3E454C;
}

.title {
    color: #292929;
    font-size: 18px;
    padding-top: 2px;
    font-weight: 600;
    margin: 0px 65px;
/*    font-family: 나눔고딕, 'Nanum Gothic', NanumGothic,  serif;*/
}

.artist {
    color: #606060;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    margin-left: 65px;
/*    font-family: 나눔고딕, 'Nanum Gothic', NanumGothic,  serif;*/
}

.footer {
    height: 60px;
    border: solid 1px #E7E7E7;
    background-color: #F8F8F8;
}

.btn-center {
    text-align: center;
}

.bottom {
    padding: 20px;
}