div.virtical-center {
    top: 50%;
    margin-left: 11.5px;
    position: absolute;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

input.form-control {
    font-size: 16px;
}

h4 {
    color: #3AE9A6
    font-size: 80px;
}