div.virtical-center {
    top: 50%;
    margin-left: 11.5px;
    position: absolute;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

input.form-control {
    font-size: 16px;
}

th {
    color: #D5DDE5;
    font-size: 16px;
    text-align: left;
    font-weight: 200;
    background: #303036;
    vertical-align: middle;
    border-bottom: 4px solid #9ea7af;
}

th:first-child {
    border-top-left-radius: 5px;
}
 
th:last-child {
    border-top-right-radius: 5px;
}
  
tr:hover td {
    background: #f8f8f8;
    border-top: 1px solid #22262e;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
 
tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
 
td {
    color: #5A5A66;
    font-size: 16px;
    text-align: left;
    font-weight: 100;
    vertical-align: middle;
}